@font-face {
    font-family: scriptin;
    src: url(../fonts/scriptin/scriptin.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

html, body {
    scroll-behavior: smooth;
    font-family: roboto;
}
.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.home-image {
    border-radius: 50%;
    border: solid 5px #ded5d5;
    max-height: 500px;
    max-width: 500px;
}
.aboutme-image {
    border-radius: 50%;
    border: solid 5px #ded5d5;
    max-height: 350px;
    max-width: 350px;
}
.noborder-image {
    border-radius: 50%;
    border:none;
    max-height: 350px;
    max-width: 350px;
}
@media (max-width: 500px) {
    .home-image, .aboutme-image, .noborder-image {
        max-height: 250px;
        max-width: 250px;
    }

}
.about_me-content {
    justify-content: space-evenly;
}
.experience-content {
    justify-content: space-evenly;
}
.section {
    height: 100vh;
}
.slider_holder {
    background-color: #dad2d2;
    height: 10px;
    border-radius: 5px;
}
.slider_percent {
    background-color: #0436ce;
    border-radius: 5px;
}
.fs35 {
    font-size: 35px;
}
.fs40 {
    font-size: 40px;
}
.fs30 {
    font-size: 18px;
}
.fs18 {
    font-size: 18px;
}
.fs60 {
    font-size: 60px;
}
.ff-scriptin {
    font-family: scriptin;
}
.fw-bold {
    font-weight: 700;
}
.ff-giz {
    font-family: giz;
}
